{
    "plugins": ["prettier-plugin-solidity"],
    "overrides": [
      {
        "files": "*.sol",
        "options": {
          "printWidth": 97,
          "compiler": "0.8.23"
        }
      }
    ]
  }
